:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color:'#FFFFF9';
  background-color: #fdfdfd;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}
a:visited {
  color:#464646ab;
}
